.photos-wrapper {
    padding: 1% 9%;
    background-color: #f3f5f6;
    display: flex;
    flex-wrap: wrap;

    .single-img {
        width: 480px;
        height: 320px;
        padding: 5px;
        margin: 50px;
    }
}